* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Merriweather", serif;
}
/* header styles */
.heading_banner {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/banner.png");
  margin: auto;
  max-width: 1320px;
  max-height: 600px;
  border-radius: 16px;
  text-align: center;
}
.heading_banner_text {
  color: #fff;
  text-align: center;
  margin: 40px;
  padding: 220px 310px;
  font-size: 30px;
  width: 600px;
}
.para1 {
  padding-bottom: 10px;
  font-weight: 100;
}
/* main section styles */
.discount_section {
  text-align: center;
  margin: auto;
  padding: 100px 0px;
}
.off_section{
    max-width: 802px;
}
.discount {
  padding: 25px;
  color: #f00;
  font-weight: 800;
  font-size: 50px;
  font-family: Inter;
}
.para2 {
  font-size: 10px;
  color: #f00;
  font-weight: 800;
  padding: 15px;
}
.discount_heading3 {
  font-size: 20px;
  color: #070211;
  font-weight: 800;
}
.discount_img {
  padding-top: 30px;
}
.Party_part{
    max-width: 1320px;
    margin: auto;
}
.party_section {
  background-image: linear-gradient(120deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  max-width: 1320px;
  height: 600px;
  border-radius: 16px;
}
.MidNight_party {
  width: 400px;
  padding: 120px;
  color: #fff;
}
.vectorr {
  padding: 120px;
}
.para3 {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding: 30px 0px;
}
.Midnight_heading {
  font-family: "Merriweather", serif;
  letter-spacing: 7px;
}
.Join_party {
  color: #fff;
  font-weight: 600;
  padding: 10px;
  background-color: #070211;
  border: none;
  font-size: 18px;
}
.party_location_and_details {
  background-image: linear-gradient(to bottom, pink, rgb(224, 204, 204));
  max-width: 1320px;
  max-height: 482px;
  border-radius: 16px;
  margin: auto;
  margin-top: 120px;
}
.party_details {
  text-align: center;
}
.para4 {
  text-align: center;
  padding: 140px;
  padding-left: 200px;
  line-height: 40px;
  height: 30px;
}
.Join_Now2 {
  color: white;
  margin-bottom: 60px;
  margin-left: 60px;
  padding: 20px 30px;
  background-color: #f00;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  font-size: 18px;
}
span {
  color: #f00;
  font-weight: 600;
}
.bonus{
    max-width: 1320px;
    margin: auto;
}
.bonus_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1320px;
  max-height: 482px;
  margin: auto;
  margin-top: 120px;
  border-radius: 16px;
  gap: 50px;
}
.bonus_para1 {
  color: #757575;
  padding-top: 20px;
  font-size: 15px;
  line-height: 25px;
}
.para5 {
  color: #f00;
  padding-bottom: 20px;
  font-size: 15px;
}
.bonus_items2 {
  width: 300px;
  height: 300px;
  border-radius: 16px;
  border: 15px solid #f00;
  width: 600px;
  display: flex;
  justify-content: space-around;
  border-radius: 50%;
  text-align: center;
  padding: 30px;
  margin-right: 200px;
}
.bonus_items3 {
  margin-right: 30px;
}
.bonus_date {
  color: #f00;
  font-family: Inter;
}
.bonus_para2 {
  font-size: 15px;
  line-height: 25px;
}
.bonus_img2 {
  padding-top: 30px;
}
.Holiday{
    max-width: 1320px;
    margin: auto;
}
.holiday_sale {
  width: 1320px;
  height: 800px;
  margin: auto;
  margin-top: 120px;
  margin-right: 140px;
  position: relative;
  border-radius: 16px;
}
.gift_box {
  position: absolute;
  z-index: 1;
  top: 190px;
  width: 600px;
  height: 600px;
}
.Fifty_percent {
  position: absolute;
  left: 740px;
  top: 245px;
  z-index: 1;
}
.female_action {
  position: absolute;
  left: 891px;
  top: 180px;
}
.red_banner {
  position: absolute;
  top: 600px;
}
.Discount_details {
  width: 75%;
  margin-left: 12.5%;
  text-align: center;
  padding: 30px;
  font-size: 12px;
  line-height: 30px;
}
.Discount_heading {
  font-size: 40px;
  padding: 20px;
}
.para6 {
  font-size: 15px;
  font-weight: 800;
}
.portfolio{
    max-width: 1600px;
    margin: auto;
}
.portfolio_section{
    padding: 120px 140px;
    margin-left: 20px;
}
.portfolio_images {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 1320px;
}
.portfolio_image:hover{
    cursor: pointer;
    border: 5px solid red;
    background:#f00;
}
.portfolio_details {
    width: 800px;
  margin-top: 30px;
  padding-bottom: 50px;
}
.para7 {
  color: #f00;
  line-height: 50px;
}
.portfolio_para {
  color: #757575;
  font-size: 15px;
}
.Subs{
    max-width: 1320px;
    max-height: 616px;
    margin: auto;
}
.subscriber_section {
  text-align: center;
  flex-shrink: 0;
  background-color:bisque;
  border-radius: 16px;
  padding-bottom: 80px;

}
.subscriber_mail{
    padding: 80px;
    line-height: 50px;
}
.subscription{
    text-align: center;
    background-color: #f00;
    width: 40%;
    height: 60px;
    margin-left: 29%;
    display: flex;
    justify-content: space-between;
    border-radius: 100px;
}
.para9{
    text-align: left ;
    padding-top: 10px;
    padding-left: 10px;
    display: inline;
    justify-content: space-between;
    color: #757575;
}
.input_text{
    width: 350px;
    border: 1px solid #757575;
    font-size: 18px;
    padding-left: 20px;
    border-radius: 50px 0px 0px 50px;
    border: none;
}
.subscribe_btn{
    border: none;
    border-radius: 15px 50px 50px 15px;
    background-color: #f00;
    padding:20px 15px 20px 20px ;
    padding-bottom: 10px;
    font-size: 20px;
    margin-right: 20px;
    color: #fff;
    overflow: visible;

}
.contact{
    max-width: 1800px;
    max-height: 609px;
    margin-top: 120px;
}
.contact_container{
    background-color: #070211;
    color: #fff;
    padding: 120px;
}
.contact_us{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact_social{
    text-align: center;
}
.contact_img{
    padding: 30px;
}
.this{
    font-weight: 100;
    padding: 40px;
    font-size:15px ;
    line-height: 30px;
}
.all_right{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.this2{
    font-weight: 100;
    padding: 40px;
    font-size:15px ;
    line-height: 30px;
}
.fa-solid{
    padding: 5px;
}